Client_WS/src/main/java/WSHandler/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="BankWS">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://localhost:9191/?xsd=1"/>
</xsd:schema>
</types>
<message name="GetAccountWS">
<part name="parameters" element="tns:GetAccountWS"/>
</message>
<message name="GetAccountWSResponse">
<part name="parameters" element="tns:GetAccountWSResponse"/>
</message>
<message name="Converter">
<part name="parameters" element="tns:Converter"/>
</message>
<message name="ConverterResponse">
<part name="parameters" element="tns:ConverterResponse"/>
</message>
<message name="GetAccountsList">
<part name="parameters" element="tns:GetAccountsList"/>
</message>
<message name="GetAccountsListResponse">
<part name="parameters" element="tns:GetAccountsListResponse"/>
</message>
<portType name="BankService">
<operation name="GetAccountWS">
<input wsam:Action="http://WS/BankService/GetAccountWSRequest" message="tns:GetAccountWS"/>
<output wsam:Action="http://WS/BankService/GetAccountWSResponse" message="tns:GetAccountWSResponse"/>
</operation>
<operation name="Converter">
<input wsam:Action="http://WS/BankService/ConverterRequest" message="tns:Converter"/>
<output wsam:Action="http://WS/BankService/ConverterResponse" message="tns:ConverterResponse"/>
</operation>
<operation name="GetAccountsList">
<input wsam:Action="http://WS/BankService/GetAccountsListRequest" message="tns:GetAccountsList"/>
<output wsam:Action="http://WS/BankService/GetAccountsListResponse" message="tns:GetAccountsListResponse"/>
</operation>
</portType>
<binding name="BankServicePortBinding" type="tns:BankService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="GetAccountWS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Converter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetAccountsList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankWS">
<port name="BankServicePort" binding="tns:BankServicePortBinding">
<soap:address location="http://localhost:9191/"/>
</port>
</service>
</definitions>